@page {
	margin: 0mm;
	size: auto;
}
#writeln_form {
	display: none;
}
#your_choice {
	display: none;
}
#print_text {
	display: block;
}
@media print {
div.newpage {
	page-break-after: always;
	position: relative;
	}
}
