#do_do1 {
  position: absolute;
  top: 0.7cm;
  left: 6cm;
}
#date_do1 {
  position: absolute;
  top: 1.3cm;
  left: 9cm;
}
#ooo_do1 {
  position: absolute;
  top: 2.2cm;
  left: 6.5cm;
  font-size: 0.6em;
}
#gendir_do1 {
  position: absolute;
  top: 2.5cm;
  left: 5.5cm;
  font-size: 0.6em;
}
#summa_mo {
  position: absolute;
  top: 17.6cm;
  left: 15.5cm;
  font-size: 0.6em;
}

#do_do2_1 {
  position: absolute;
  top: 2.3cm;
  left: 3.5cm;
}
#ooo_do2 {
  position: absolute;
  top: 3.2cm;
  left: 3.5cm;
  font-size: 0.6em;
}
#date_do2_1 {
  position: absolute;
  top: 2.4cm;
  left: 9cm;
}
#gendir_do2 {
  position: absolute;
  top: 2.9cm;
  left: 2.8cm;
  font-size: 0.6em;
}
#inn_do2 {
  position: absolute;
  top: 4.5cm;
  left: 1.5cm;
}
#fio_do2_fl {
  position: absolute;
  top: 3.2cm;
  left: 1.5cm;
}
#bday_do2_fl {
  position: absolute;
  top: 3.8cm;
  left: 5cm;
  font-size: 0.8em;
}
#pas_num_do2_fl {
  position: absolute;
  top: 4cm;
  left: 3cm;
}
#pas_date_do2_fl {
  position: absolute;
  top: 4cm;
  left: 9.2cm;
}
#pas_whoes_do2_fl {
  position: absolute;
  top: 4.7cm;
  left: 2cm;
  font-size: 0.6em;
}
#pas_propis_do2 {
  position: absolute;
  top: 5.2cm;
  left: 2cm;
  font-size: 0.6em;
}
#do_do2_2 {
  position: absolute;
  top: 1.9cm;
  left: 18cm;
}
#date_do2_2 {
  position: absolute;
  top: 1.9cm;
  left: 21.7cm;
}
#mts_1 {
  position: absolute;
  top: 3.6cm;
  left: 14.9cm;
}
#os {
  position: absolute;
  top: 3.9cm;
  left: 18.2cm;
  font-size: 0.6em;
}
#ts {
  position: absolute;
  top: 3.6cm;
  left: 18.2cm;
  font-size: 0.6em;
}
#vkts {
  position: absolute;
  top: 3.6cm;
  left: 21.2cm;
  font-size: 0.6em;
}
#sms {
  position: absolute;
  top: 3.9cm;
  left: 24.5cm;
  font-size: 0.6em;
}
#mts_2 {
  position: absolute;
  top: 4.7cm;
  left: 14.9cm;
}
#ps {
  position: absolute;
  top: 5.6cm;
  left: 18.2cm;
  font-size: 0.6em;
}
#v220 {
  position: absolute;
  top: 6cm;
  left: 18.2cm;
  font-size: 0.6em;
}
#wl {
  position: absolute;
  top: 5.3cm;
  left: 18.2cm;
  font-size: 0.6em;
}
#gl {
  position: absolute;
  top: 4.6cm;
  left: 18.2cm;
  font-size: 0.6em;
}
#so {
  position: absolute;
  top: 8.6cm;
  left: 14.9cm;
}
#vr {
  position: absolute;
  top: 6cm;
  left: 14.9cm;
}
#dt {
  position: absolute;
  top: 6.9cm;
  left: 17.6cm;
}
#nt {
  position: absolute;
  top: 7.5cm;
  left: 17.6cm;
}
#dnr {
  position: absolute;
  top: 9.4cm;
  left: 24.3cm;
}
#ap {
  position: absolute;
  top: 10cm;
  left: 21.7cm;
}
#mes6 {
  position: absolute;
  top: 11.1cm;
  left: 14.9cm;
}
#mes9 {
  position: absolute;
  top: 11.4cm;
  left: 14.9cm;
}
#mes12 {
  position: absolute;
  top: 12cm;
  left: 14.9cm;
}
#gorod_do2 {
  position: absolute;
  top: 15.3cm;
  left: 15.7cm;
}
#ulitsa_do2 {
  position: absolute;
  top: 15.9cm;
  left: 15.7cm;
}
#dom_do2 {
  position: absolute;
  top: 15.9cm;
  left: 21.2cm;
}
#ofis_do2 {
  position: absolute;
  top: 16.4cm;
  left: 26.8cm;
}
#ob_number_do2 {
  position: absolute;
  top: 13cm;
  left: 15.7cm;
}
#ofis {
  position: absolute;
  top: 16cm;
  left: 25.2cm;
}
#do_ank {
  position: absolute;
  top: 1.5cm;
  left: 11.5cm;
}
#date_ank_1 {
  position: absolute;
  top: 1.5cm;
  left: 15.2cm;
}
#date_ank_2 {
  position: absolute;
  top: 19.4cm;
  left: 21.6cm;
}
#ob_number_ank {
  position: absolute;
  top: 2.5cm;
  left: 3cm;
}
#gorod_ank {
  display: inline-block;
}
#ank_adress_gorod {
  display: inline-block;
}
#adress_inline_ul {
  position: absolute;
  top: 2.7cm;
  left: 4cm;
}
#ulitsa_ank {
  display: inline-block;
}
#ank_adress_ulitsa {
  display: inline-block;
}
#dom_ank {
  display: inline-block;
}
#ank_adress_dom {
  display: inline-block;
}
#ofis_ank {
  display: inline-block;
}
#ofis_ank_p {
  display: inline-block;
}
#kvartira_ank_fl {
  display: inline-block;
}
#ank_adress_kvartira_fl {
  display: inline-block;
}
#fio_ank_fl {
  position: absolute;
  top: 5.7cm;
  left: 4cm;
}
#ank_adress_ofis {
  display: inline-block;
}
#ooo_ank {
  position: absolute;
  top: 4cm;
  left: 3cm;
}
#gendir_ank {
  position: absolute;
  top: 4.7cm;
  left: 2.5cm;
}
#gorod_ank_fl {
  display: inline-block;
}
#adress_inline_fl {
  position: absolute;
  top: 2.7cm;
  left: 4cm;
}
#ank_adress_gorod_fl {
  display: inline-block;
}
#ulitsa_ank_fl {
  display: inline-block;
}
#ank_adress_ulitsa_fl {
  display: inline-block;
}
#dom_ank_fl {
  display: inline-block;
}
#ank_adress_dom_fl {
  display: inline-block;
}
#kvartira_do2_fl {
  position: absolute;
  top: 15.9cm;
  left: 23.2cm;
}